/* reset */

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Dosis:wght@200;300;400;500&family=Familjen+Grotesk:wght@400;600;700&family=Lato:ital,wght@0,100;0,400;1,100&family=Roboto+Condensed:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* color: #000; */
  background-color: #f9f9f9;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #262626;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .fa-solid,
.fas {
  font-weight: 1000;
  font-size: 20px;
}

.brown {
  background-color: brown !important;
}
.green {
  background-color: #689f39 !important;
}
.blue {
  background-color: rgba(26, 195, 233, 0.838) !important;
}
.red {
  background-color: rgb(165, 42, 42) !important;
}

.content {
  width: 100%;
  height: auto;
}

.left-menu{
  padding: 5px 0px;
    position: absolute;
    width: 200px;
    background: #fff;
    top: 0;
    left: 0;
    height: 1000px;
    border-right:0.1px #000 solid ;
    border-right: 0.1px solid #d3d3d3;
    transition: 1000ms;
}

.hide{
  display:none;
}

i{
  cursor: pointer;
}

.list ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 10px;
  border-bottom: 0.5px solid #d3d3d3;
}

.list ul li{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list ul li svg{
  display: inline;
    width: 30px;
    height: 30px;
}

.list ul li svg, .list ul li i{
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  justify-content: space-between;
}

.logo .menu {
  padding: 10px 20px;
}

.youtube-logo i {
  color: red;
  font-size: 25px;
}

.youtube-logo p {
  font-size: 20px;
  padding: 0 5px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.youtube-logo span {
  margin: -22px 0 0 -10px;
  padding: 0 5px;
  font-size: 10px;
}

.search .input-search {
  border: 0.5px solid #d3d3d3;
}

.search .input-search input {
  width: 500px;
  height: 35px;
  border: none;
  outline: none;
}

.search .input-search input::placeholder {
  color: #706b6b;
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}

.search .input-search i {
  background-color: #f9f9f9;
  padding: 10px 20px;
}

.search .voice-search i {
  background: #f9f9f9;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
}

.right-icon {
  justify-content: space-between;
  width: 100px;
  margin: 0 20px;
  font-size: 20px;
}

.right-icon .user {
  height: 30px;
  width: 30px;
  text-align: center;
  background: hsl(11deg 88% 11%);

  border-radius: 50%;
  color: #fff;
}

/* Videos Section */
.container {
  width: 100%;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 25px 50px 15px 80px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 600px auto;
  gap: 5px;
}

.container main .video {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.348);
  padding: 10px 0;
}
main .title {
  font-size: 20px;
  padding: 10px 0;
}

main .fedbak {
  justify-content: space-between;
}

.fedbak span {
  color: #000;
  font-weight: 500;
}

main .chanel {
  justify-content: space-between;
  padding: 10px 0;
}

.channel-profile h2 {
  padding: 6px 12px;
  background-color: #689f39;
  border-radius: 50%;
  margin: 5px 10px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 500;
}

.chanel .subscribe {
  border: none;
  padding: 10px;
  background-color: red;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}

.discription {
  /* margin: 10px 20px; */
  padding: 10px 20px;
  border-bottom: 0.1px solid rgba(40, 38, 38, 0.348);
}
.discription p {
  margin: 10px 15px;
}
.discription p.show-more {
  padding: 15px 0;
  font-size: smaller;
  font-weight: 500;
  color: #706b6b;
}

.comments {
  margin: 10px 15px;
  padding: 10px 20px;
  width: 40%;
  justify-content: space-between;
  font-weight: 500;
}

.add-comment {
  justify-content: flex-start;
  padding: 10px 20px;
  margin: 10px 15px;
}

.comment-section {
  display: grid;
  grid-template-columns: 70%;
  width: 100%;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 25px 50px 15px 80px;
}

.comment-section p.user {
  /* padding: 0px 10px; */
  width: 40px;
  height: 40px;
  padding: 7px;
  text-align: center;
  background-color: hwb(258 22% 38%);
  border-radius: 50%;
  margin: 5px 10px;
  color: #fff;
}

.add-comment .user {
  width: 30px;
  height: auto;
  /* padding: 10px auto; */
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}

.add-comment input {
  margin-bottom: 15px;
  outline: none;
  border: none;
  padding: 5px 0;
  border-bottom: 0.1px solid rgba(40, 38, 38, 0.348);
  width: 100%;
  background-color: #f9f9f9;
}
.add-comment input::placeholder {
  font-size: 15px;
}

.recent-comment {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  margin: 10px 15px;
  /* flex-direction: column; */
}

.recent-comment .user {
  width: 30px;
  height: auto;
  /* padding: 10px auto; */
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}

.recent-comment .user p {
  padding: 5px;
}
.coment-user {
  flex-direction: column;
  align-items: flex-start;
}
.coment-user h5 {
  font-size: 14px;
}

.coment-user h5 span {
  font-size: small;
  color: rgba(0, 0, 0, 0.705);
}
.coment-user p {
  font-size: 14px;
}

aside.side-bar {
  /* margin: 10px; */
  padding: 10px 0px;
}

.buttons {
  padding: 10px 0;
}
.buttons button {
  padding: 5px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  margin: 0 5px;
}

.buttons .fa-chevron-right {
  position: absolute;
  right: 20px;
  z-index: 10;
  background-color: transparent;
  padding: 5px;
}

.listed-videos {
  margin: 5px 0;
  /* padding: 5px 0; */
  justify-content: flex-start;
  align-items: flex-start;
}
.listed-videos .title {
  padding: 0 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* line-height: 1.2; */
}

.title p {
  font-size: 14px;
  font-weight: 500;
}
.title h6 {
  font-size: small;
  color: rgba(0, 0, 0, 0.705);
}
.title span {
  font-size: small;
  color: rgba(0, 0, 0, 0.705);
}

/* Media Query */

@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 25px 50px 25px 50px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 5px;
  }

  main {
    margin-bottom: 10px;
  }
  .buttons {
    /* margin-bottom: 20px; */
    margin-top: 30px;
    padding-top: 30px;
    justify-content: flex-start;
  }
}

@media (max-width: 900px) {
  .search .input-search input {
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
  }
  .container {
    
    padding: 25px 20px 15px 30px;
   
  }

  .video iframe {
    width: 600px;
    /* width:750px ; */
    height: 350px;
  }

  .container {
    padding: 25px 30px;
  }

  .comment-section {
    grid-template-columns: 1fr;
    padding: 10px 20px;
  }
  .buttons {
    padding-top: 20px;
  }

  aside.side-bar {
    /* margin: 10px; */
    padding: 20px 0px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 25px 10px;
  }

  .search .input-search input {
    width: 150px;
    height: 25px;
  }

  .search .input-search i {
    padding: 5px 10px;
  }

  .search .input-search input::placeholder {
    color: #706b6b;
    font-size: 14px;
  }
  .right-icon {
    font-size: medium;
  }

  .right-icon .user {
    height: 20px;
    width: 20px;
    font-size: small;
    /* font-weight: 300; */
  }

  .voice-search {
    font-size: small;
    font-weight: 300;
    /* margin:5px ; */
  }

  .voice-search i {
    margin: 0 5px !important;
    padding: 5px !important;
  }

  .youtube-logo p {
    font-size: 15px;
  }

  main .title {
    font-size: 15px;
  }

  .fedbak span {
    font-weight: normal;
  }

  .video iframe {
    width: 400px;
    height: 250px;
  }
  .buttons {
    padding-top: 10px;
    margin-top: 10px;
  }

  .comments {
    font-weight: 400;
    width: auto;
  }
}

@media (max-width: 400px) {
  .container {
  
    padding: 25px 5px;
  
  }
  .logo .menu {
    /* padding: 5px; */
  }

  .logo .menu i {
    font-size: 14px;
  }

  .search .input-search i {
    padding: 5px;
    font-size: 14px;
  }
  .youtube-logo i {
    font-size: 14px;
  }

  .search .voice-search i {
    margin: 0 5px;
    padding: 5px;

    font-size: 14px;
  }
  .right-icon {
    font-size: 12px;
    margin: 0;
  }
  
  .right-icon div {
    margin-left: 4px;

  }

  .right-icon .user {
    height: 16px;
    width: 16px;
    font-size: 10px;
    padding: 0;
  }

  .fedbak span{
    font-size: 12px;
  }


 

  .comment-section p.user {
    padding: 0px 5px;
    width: auto;
    height: auto;
    font-size: 12px;
    text-align: center;
    background-color: hwb(258 22% 38%);
    border-radius: 50%;
    margin: 5px;
    color: #fff;
  }

  .video iframe {
    width: auto;
    height: auto;
  }

  .list ul li i {
    font-size: 12px;
}
}
